<h1>Maps</h1>
<div id='map'>
</div>

<script>
var map = new GMaps({
  div: '#map',
  lat: <%= @post.latitude %>,
  lng: <%= @post.longitude %>
});

map.addMarker({
  lat: <%= @post.latitude %>,
  lng: <%= @post.longitude %>,
  title: '<%= @post.description %>'
});

</script>